/dev/pvrsrvkm             0766   root       root
/dev/pvr_sync           0766   root         root
/dev/stpwmt             0660   system       system
/dev/stpbt              0660   bluetooth    radio
/dev/stpgps             0660   gps          gps
/dev/Vcodec             0660   media        system
/dev/wmtWifi            0660   system       system
/dev/sec                0660   root         system
/dev/preloader          0640   root         system
/dev/misc-sd            0640   root         system
/dev/sec_ro             0640   root         system
/dev/recovery           0640   root         system
/dev/seccfg             0660   root         system
/dev/block/mmcblk0      0660   root         system
/dev/trustzone          0660   root         drmrpc
/dev/devmap             0440   root         system
/dev/mali0              0666   system      graphics
/dev/gps                0660   gps          system
